.main-page {
    width: 90%;
    background-color: $coleur_un;
    @include margin_center;
    text-align: center;

    .element-un {
        padding: 20px;

        .text-April {
            color: $coleur_trois;
            font-family: italic;
            @include margin_bottom;
        }
        h2 {
            color: $coleur_deux;
            font-size: 2rem;
            @include margin_bottom;
            text-transform: uppercase;
            text-align: center;
        }

        .text {
            color: $coleur_trois;
            font-size: 1rem;
            line-height: 2rem;
            @include margin_center;
            @include margin_bottom;
            font-family: italic;
            width: 50%;
        }

        .image {
            width: 80%;
            height: 500px;
            background-image: url(../img/pic01.jpg);
            background-size: cover;
            background-position: center; 
            @include margin_center;
            @include margin_bottom;
        }
        
    }

    .group-elements {
        // padding: 20px;
        display: flex;
        width: 100%;
        border-top: $coleur_trois solid 1px;
        
        .element-deux {
            width: 50%;
            padding: 50px 0;
            border-right: $coleur_trois solid 1px;

            h3{
                @include margin_bottom20;
                text-transform: uppercase;
                font-size: 1.5rem;
            }
            #p {
                text-align: center;
                @include margin_bottom20;
            }
            p {
                width: 70%;
                @include margin_center;
                text-align: left;
                color: $coleur_trois;
                margin-bottom: 30px;
            }
            .image_2 {
                width: 70%;
                height: 300px;
                background-image: url(../img/pic02.jpg);
                background-size: cover;
                background-position: center; 
                @include margin_center;
                @include margin_bottom20;
            }

        }
        .image_3 {
            width: 70%;
            height: 300px;
            background-image: url(../img/pic03.jpg);
            background-size: cover;
            background-position: center; 
            @include margin_center;
            @include margin_bottom20;
        }
        
    }

    // responsive 
    @media screen and (max-width: 840px) {

        .element-un {
    
            .image {
                width: 80%;
                height: 350px;
            }
            
        }

        .group-elements {
            flex-direction: column;

            .element-deux {
                width: 100%;
                border: none;

                .image_2 , .image_3 {
                    height: 250px;
                }
            } 
        }
        
    }

    @media screen and (max-width: 750px) {
        .element-un {
    
            .image {
                width: 80%;
                height: 200px;
            }
        }
    }

    @media screen and (max-width: 502px) {
        .element-deux {

            .image_2 , .image_3 {
                height: 200px;
            }
        }
    }

}