// Setting regroupe tous les reglages generaux de l'application (couleurs, font, etc...)

// les variables 
$coleur_un  : rgb(251, 249, 249);
$coleur_deux: rgb(41, 41, 41);
$coleur_trois: rgba(110, 110, 110, 0.678);
$coleur_quatre: rgba(68, 68, 68, 0.89);


@mixin  center_x_y  {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border_radius {
    border-radius: 3px;
}

@mixin margin_center {
    margin: 0 auto;
}
@mixin margin_bottom {
    margin-bottom: 50px;
}
@mixin margin_bottom20 {
    margin-bottom: 20px;
}

@mixin padding_top_bottom {
    padding-bottom: 50px;
}
    

@mixin cercle {
    border-radius: 50%;
    border: 2px solid $coleur_un;
}

// les code global
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

ul {
    list-style: none;
}

a { 
    text-decoration: none;
}

.button {
    cursor: pointer;
    background: transparent;
    border: $coleur_deux solid 1px;
    color: $coleur_deux;
    padding: 10px 30px;
    font-size: 1.3rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    @include margin_bottom;

    &:hover {
        background: $coleur_deux;
        color: #fff;
    }
}




