* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  background: transparent;
  border: rgb(19, 19, 19) solid 1px;
  color: rgb(19, 19, 19);
  padding: 10px 30px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin-bottom: 50px;
}
.button:hover {
  background: rgb(19, 19, 19);
  color: #fff;
}

.header-page {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header-page h1 {
  font-size: 3.5rem;
  color: rgb(241, 239, 239);
  margin-bottom: 20px;
  animation: zoom infinite;
}
.header-page p {
  font-size: 1.3rem;
  color: rgb(241, 239, 239);
  margin-bottom: 20px;
}
.header-page .icon-voir-plus a {
  margin: 20px auto;
  color: rgb(241, 239, 239);
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 50%;
  border: 2px solid rgb(241, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
}
.header-page .navbar-page {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: rgba(240, 248, 255, 0.158);
  position: absolute;
  bottom: 0;
}
.header-page .navbar-page a {
  color: rgb(241, 239, 239);
  text-transform: uppercase;
  font-size: 1.3rem;
}
.header-page .navbar-page .nav-item-group,
.header-page .navbar-page .nav-media-social {
  display: flex;
}
.header-page .navbar-page .nav-item-group li {
  padding: 20px;
}
.header-page .navbar-page .nav-item-group li a {
  font-size: 1rem;
  text-align: center;
}
.header-page .navbar-page .nav-item-group li:first-child {
  background: rgba(255, 255, 255, 0.746);
}
.header-page .navbar-page .nav-item-group li:first-child a {
  color: rgb(19, 19, 19);
}
.header-page .navbar-page .nav-item-group li:hover {
  background-color: rgba(255, 255, 255, 0.746);
  color: rgb(19, 19, 19);
}
.header-page .navbar-page .nav-item-group li:hover a {
  color: rgb(19, 19, 19);
}
.header-page .navbar-page .nav-media-social li {
  padding: 20px;
}
@media screen and (max-width: 830px) {
  .header-page h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 750px) {
  .header-page h1 {
    font-size: 2.5rem;
  }
  .header-page .navbar-page .nav-item-group {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .header-page .navbar-page .nav-item-group li {
    border-bottom: 1px solid #ccc;
  }
  .header-page .navbar-page .nav-item-group li a {
    font-size: 0.6rem;
  }
  .header-page .navbar-page .nav-item-group li:hover {
    background-color: rgba(255, 255, 255, 0.746);
    color: rgb(19, 19, 19);
  }
  .header-page .navbar-page .nav-item-group li:hover a {
    color: rgb(19, 19, 19);
  }
}
@media screen and (max-width: 502px) {
  .header-page .navbar-page {
    flex-direction: column;
  }
}

.main-page {
  width: 90%;
  background-color: rgb(241, 239, 239);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.main-page .element-un {
  margin: 50px 0;
}
.main-page .element-un .text-April {
  color: rgba(82, 82, 82, 0.678);
  font-family: italic;
  margin-bottom: 50px;
}
.main-page .element-un h2 {
  color: rgb(19, 19, 19);
  font-size: 2rem;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}
.main-page .element-un .text {
  color: rgba(82, 82, 82, 0.678);
  font-size: 1rem;
  line-height: 2rem;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: italic;
  width: 50%;
}
.main-page .element-un .image {
  width: 70%;
  height: 500px;
  background-image: url(../img/pic01.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 50px;
}
.main-page .group-element {
  display: flex;
  width: 100%;
}
.main-page .group-element .element-deux {
  background-color: rgb(54, 227, 149);
  width: 50%;
}
.main-page .group-element .element-trois {
  background-color: rgb(255, 0, 0);
  height: 100px;
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
